* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    background: black;
    position: sticky; /* Make the navbar fixed */
    top: 0;     
    left: 0;
    right: 0;     /* Stick to the top */
    height: 70px;
    z-index: 1000;  /* On top of other content */
}

.left-section{
    display: flex;
    align-items: center;
    width: 20cap;
    flex-shrink: 0;
    
}

.logo{
    display: flex;
    align-items: center;
    width:100%;
}

.center-section{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 50%;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;

}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    font-weight: bold;
    font-size: large;
}

nav ul li a:hover {
    background: #555;
}

.hamburger-menu{
    display: none;
}

.right-section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

}

.login-btn{
    padding: 1em;
    color: white;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    border-radius: 10%;
    border: none;
}

main {
    display: flex;
    flex-direction: column;
}

.section {
    min-height: 100vh; /* Changed from height to min-height */
    padding: 3% 3% 0 3%;
    display: flex;  
    align-items: center;
    justify-content: center;
}
#home {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Adjusting for the header */
    background-color: rgb(247, 247, 247);
}


.best-seller{
    width: 100%;
    background-color: black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding:0.5%;
    font-size: 1.75rem;
    font-weight: 900;
}

.product-grid{ 
display: grid;
grid-template-columns: 1fr 1fr 1fr;
place-items: center;
width: 100%;
padding: 2% 10% 2% 10%;
}

.products{
  width: 70%;
  border: 0.5rem solid rgb(255, 0, 0);
  border-radius: 2rem;
}

.btn-order{
    background-color: red;
    color: white;
    font-weight: 700;
    padding:1%;
    border-radius:2rem ;
}

.follow-us{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding-bottom: 1%;
}

.follow-us-wrapper{
    display: flex;
    align-items: center;
    width: 30%;
    flex-direction: column;

}

.follow-us-text{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.social-icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-right: 5%;
}

.icons{
    width:10%;
    margin-right: 2%;
}


#food{
  background-color: green;
}

#about{
  background-color: blue;
}

#location{
  background-color: yellow;
}

#customercare{
  background-color: violet;
}





@media (max-width: 768px) {


section {
    min-height: 100vh; /* Changed from height to min-height */
    padding: 3%;
    display: flex;  
    align-items: center;
    justify-content: center;
}

#home {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Adjusting for the header */
    }

    header{
        display: flex;
        justify-content: space-between;
    }

    .left-section{
        margin-left: 5%;
    }

    .center-section{
        display: none;
    }

    .hamburger-menu{
        display: flex;
        color: white;
        cursor: pointer;
        margin-right: 5%;
    }
    
    .right-section{
        display: none;
    }

    .product-grid{
        grid-template-columns: 1fr;
        display: grid;
        row-gap: 1rem;
        padding: 5% 5%;
        
    }
    
    .products{
        width: 50%;
    }

    .btn-order{
        background-color: red;
        color: white;
        font-size: bo;
        padding:2%;
        border-radius:2rem ;
    }
    

    .follow-us{
        display: flex;
        align-items: end;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding-bottom: 5%;
    }
    
    .follow-us-wrapper{
        display: flex;
        align-items: center;
        width: 40%;
        flex-direction: column;
        
    
    }
    
    .follow-us-text{
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    
    .social-icons{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: end;
        align-items: center;
        margin-right: 15%;
    }
    
    .icons{
        width:20%;
        margin-right: 5%;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    .left-section{
        margin:0 3%;
    }

   
.section {
    min-height: 100vh; /* Changed from height to min-height */
    padding: 3%;
    display: flex;  
    align-items: center;
    justify-content: center;
}
#home {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh; /* Adjusting for the header */
    background-color: rgb(247, 247, 247);
}


.best-seller{
    width: 100%;
    background-color: black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    padding:0.5%;
    font-size: 1.75rem;
    font-weight: 900;
}

.product-grid{ 
display: grid;
grid-template-columns: 1fr 1fr 1fr;
place-items: center;
width: 100%;
padding: 5% 3% 5% 3%;
}

.products{
  width: 80%;
  border: 0.5rem solid rgb(255, 0, 0);
  border-radius: 2rem;
}

.follow-us{
    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    

}

.follow-us-wrapper{
    display: flex;
    align-items: center;
    width: 30%;
    flex-direction: column;

}

.follow-us-text{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.social-icons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: end;
    align-items: center;
    margin-right: 20%;
}

.icons{
    width:15%;
    margin-right: 3%;
}

    
}
